@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=SF+Pro+Text:wght@600&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-poppins: Poppins;
  --font-sf-pro-text: "SF Pro Text";

  /* font sizes */
  --font-size-xs: 10px;
  --font-size-sm: 12px;
  --font-size-base: 14px;
  --font-size-lg: 15px;
  --font-size-xl: 16px;
  --font-size-2xl: 18px;
  --font-size-3xl: 24px;
  --font-size-4xl: 30px;
  --font-size-5xl: 34px;

  /* Colors */
  --text-white-ffffff: #fff;
  --color-gray-100: #fefefe;
  --color-gray-200: #f3f3f3;
  --color-gray-300: #e8e6ea;
  --color2: #adafbb;
  --color1: #323755;
  --color: #071624;
  --color-gray-700: rgba(255, 255, 255, 0.2);
  --color-gray-800: rgba(0, 0, 0, 0.4);
  --color-gray-900: rgba(196, 196, 196, 0.8);
  --text-primary-70-000000: rgba(0, 0, 0, 0.7);
  --color-gray-1100: rgba(152, 152, 152, 0.8);
  --color-gray-1200: rgba(181, 181, 181, 0.8);
  --red-e94057: #e94057;
  --color-brown-200: rgba(233, 64, 87, 0.4);
  --black-000000: #000;

  /* border radiuses */
  --br-2xs: 1.33px;
  --br-xs: 1.5px;
  --br-sm: 2.67px;
  --br-md: 2px;
  --br-lg: 7px;
  --br-xl: 15px;
  --br-2xl: 100px;

  /* Effects */
  --effect: 0px 15px 15px rgba(233, 64, 87, 0.2);
}