.main-content{
    align-items:flex-start;
}

.Profile{
    display:flex;
    flex-direction:row;
    width:100%;
    height:100%;
}

.MyProfile{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    padding: 30px;
}

.MyProfile-Header{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    width: 100%;
}

.MyProfile-Header-Left{
    width: 500px;
    padding: 10px;
    display: flex;
}

.MyProfile-Header-Left img{
    width: 100%;
    border-radius: 10px;
}

.MyProfile-Header-Right{
    padding: 10px;
    width: 80%;
}

.inputbox{
    position: relative;
    width: 250px;
}

.inputbox input{
    width: 150%;
    padding: 10px ;
    border: 1px solid #ccc;
    background: #fff;
    border-radius: 10px;
    outline: none;
    color: #999999;
    font-size: 1em;
}

.inputbox label{
    padding: 5px;
}

.inputbox input:focus{
    border-color: #E94057;
    width: 160%;
    transition: 1s;
}

/* Body */
.MyProfile-Body{
    display:flex;
    flex-direction:row;
    width: 100%;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.ant-picker{
    /* padding: 10px !important; */
    margin-left: 10px !important;
}

.ant-select{
    max-width: 9rem !important;
}

.ant-select:not(.ant-select-customize-input) .ant-select-selector
{
    background-color: #ff00222c !important;
    border-color: #ff00222c !important;
    color: #E94057 !important;
    font-weight: 700 !important;
}

.ant-select-item-option-active:not(.ant-select-item-option-disabled) {
    background-color: #E94057 !important;
    color: #fff !important;
}

.ant-select-single.ant-select-show-arrow .ant-select-selection-item, .ant-select-single.ant-select-show-arrow .ant-select-selection-placeholder {
    color: #E94057 !important;
    font-weight: 700 !important;
}

.ant-select-multiple .ant-select-selection-item {
    background-color: #E94057 !important;
    color: #fff !important;
    border: #E94057 !important;
}

.ant-picker-focused, .ant-picker:hover, .ant-picker-active {
    border-color: #E94057 !important;
}

.ant-upload.ant-upload-select-picture-card{
    border: 1px dashed #E94057 !important;
    width: 300px !important;
    height: 300px !important;
}

.MyProfile-Footer{
    display:flex;
    flex-direction:column;
    width: 100%;
    justify-content: flex-start;
    padding: 10px;
}

.MyProfile-Footer textarea{
    width: 100%;
    height: 100px;
    border: 1px solid #ccc;
    background: #fff;
    border-radius: 10px;
    outline: none;
    color: #999999;
    font-size: 1em;
    padding: 10px;
}

.MyProfile-Footer textarea:focus{
    border-color: #E94057;
    height: 150px;
    transition: 1s;
}


.MyProfile-Footer .ant-upload.ant-upload-select-picture-card{
    border: 1px dashed #E94057 !important;
    width: 100px !important;
    height: 100px !important;
}

.MyProfile-Footer .ant-upload-list-picture-card .ant-upload-list-item, .MyProfile-Footer .ant-upload-list-picture-card-container {
    width: 100px !important;
    height: 100px !important;
}

.MyProfile-Social{
    display: flex;
    width: 100%;
    padding: 30px;
    flex-direction: column;

}


.MyProfile-Social .ant-select{
    width: 100% !important;
    margin: 0 !important;
}

.MyProfile-Social .inputbox input{
    width: 100%;
    padding: 10px ;
    background: #fff;
    border-radius: 10px;
    outline: none;
    color: #999999;
    font-size: 1em;
}

.MyProfile-Social .Card{
    background-color: #E94057;
    width: 300px;
    height: 150px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #ffffff;
    justify-content: space-around
}

.Card-Number p{
    text-align: center;
    font-size: 20px;
    color: #dddddd;
    margin: 0;
}

.Card-Name p{
    font-size: 10px;
}

.Card-Type p{
    font-size: 10px;
    margin-bottom: 0;
}