.payment{
    display: flex;
    flex-direction: column;
}
.bedating{
    font-weight: 1000;
    font-size: xxx-large;
    color: #E94057;
    margin-left: 700px;
    margin-top: 20px; 
}
.options{
    font-size: 45px;
    font-weight: 100;
    margin-left: 640px;   
}
.payment-1{
    display: flex;
    flex-direction: row;
    margin-right: 800px;
    width: 100%;
    height: 70vh;
}
.payment-info{
    /* background-color: aqua; */
    margin: 50px 200px 50px;
    border: 1px solid rgb(141, 139, 139);
    border-radius: 5%;
    box-shadow: 1px 1px #abafaf;
}
.coupons{
    margin-top: 30%;
    margin-left: 50px;
    margin-right: 30px;
    display: flex;
}
.input-1{
    margin-left: 100px;
}
.table-info{
    margin-left: 50px;
    width: 100%;
}

.info-acc{
    font-size: 30px;
    font-weight: 800;
    color: #E94057;
    margin-left: 50px;
    margin-bottom: 30px;
    margin-top: 20px;
}
.text-input{
    margin-right: 10px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 10px;
}
.price-details{
    /* background-color: blueviolet; */
    margin-top: 50px;
    height: 60%;
    border: 1px solid rgb(141, 139, 139);
    border-radius: 5%;
    box-shadow: 1px 1px #abafaf;
}
.title-price{
    font-size: large;
    font-weight: 1000;
    margin: 10px;
}
.table-price{
    margin: 10px;
    width: 300px;
    height: 20vh;
}
.complete{
    background-color: #E94057;
    margin-top: 100px;
    width: 200px;
    height: 50px;
    font-size: large;
    font-weight: 1000;
    color: white;
    border-radius: 15px;
    border: 1px solid black;
    box-shadow: 2px 2px 5px #2f3131;
}
.qrcode{
    width: 80px;
    height: 80px;
    margin-left: 60%;
}